# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
env/
venv/

# Package build artifacts
build/
dist/
*.egg-info/

# Testing cache
.pytest_cache/
.coverage
htmlcov/


# IDE/editor settings (common ones)
.vscode/
.idea/

# Mac/Linux
.DS_Store
Thumbs.db

# Logs and dumps
*.log
*.bak
*.swp
*.tmp


# Project-specific
*.csv
data/
models/
spam_classifier.ipynb

